@import 'tailwindcss';

@font-face {
  font-family: 'Quicksand';
  src: url('/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Quicksand', sans-serif;

  --color-cream: #faf6f0;
  --color-terracotta: #c9715a;
  --color-sage: #7b9e87;
  --color-warm-dark: #3d2b1f;
  --color-sand: #e8d5c4;
  --color-blush: #e8bba8;
  --color-parchment: #f2ebe0;
}
